In [6]:
! pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting numpy>=1.20.3 (from pandas)
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.6 kB)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.20/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 175.5 MB/s eta 0:00:00
Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 231.8 MB/s eta 0:00:00
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 tzdata-2025.1

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('adult.data.csv')

df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [18]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [22]:
# What is the average age of men?

round(df[df['sex']=="Male"].age.mean(),1)

39.4

In [27]:
# What is the percentage of people who have a Bachelor's degree?

round(100*len(df[df['education']=="Bachelors"]) / len(df),1)

16.4

In [49]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with  `Bachelors`, `Masters`, or `Doctorate`

pop_w_higher_ed = df['education'].isin(["Bachelors", "Masters", "Doctorate"])

round(100* len(df[pop_w_higher_ed][df['salary'] == ">50K"]) / pop_w_higher_ed.sum(),1)

/tmp/ipykernel_1204/3009441000.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  round(100* len(df[pop_w_higher_ed][df['salary'] == ">50K"]) / pop_w_higher_ed.sum(),1)

46.5

In [50]:
#  without `Bachelors`, `Masters`, or `Doctorate`
round(100* len(df[~pop_w_higher_ed][df['salary'] == ">50K"]) / (~pop_w_higher_ed).sum(),1)

/tmp/ipykernel_1204/2535359587.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  round(100* len(df[~pop_w_higher_ed][df['salary'] == ">50K"]) / (~pop_w_higher_ed).sum(),1)

17.4

In [51]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?

df['hours-per-week'].min()

1

In [62]:
round(100* len(df[df['hours-per-week'] == df['hours-per-week'].min()][df['salary'] == ">50K"]) / len(df[df['hours-per-week'] == df['hours-per-week'].min()]), 1)

/tmp/ipykernel_1204/936591688.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  round(100* len(df[df['hours-per-week'] == df['hours-per-week'].min()][df['salary'] == ">50K"]) / len(df[df['hours-per-week'] == df['hours-per-week'].min()]), 1)

10.0

In [93]:
# What country has the highest percentage of people that earn >50K?

pct_rich_per_country = df[df['salary'] == ">50K"]['native-country'].value_counts() / df['native-country'].value_counts()

pct_rich_per_country.sort_values(ascending=False).index[0]

'Iran'

In [95]:
round(100* pct_rich_per_country.max(), 1)

41.9

In [74]:
round(100* df[df['salary'] == ">50K"]['native-country'].value_counts().iloc[0] / df.shape[0], 1)

22.0

In [84]:
# Identify the most popular occupation for those who earn >50K in India.

df[(df['native-country']=="India") & (df['salary'] == ">50K")]['occupation'].value_counts().index[0]

'Prof-specialty'